
.section_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, sans-serif;
}


.header-container {
    background-color: #120323;
    color: #97bf04;
    display: flex;
    align-items: center;
    justify-content: center;
}


#container {
    display: flex;
    margin: 10px 0;
}

 figure h2{
    color:#120323
 }
figure {
    display: flex;
    align-items: center;
}
figure img {
    border: 3px solid #d9043d;
    max-width: 300px;
    object-fit: cover;
}
figure figcaption {
    padding: 10px;
    
}


}


aside {
    background-color: #97bf04;
    padding: 10px;
}

footer {
    background-color: #d9043d;
    padding: 25px;
    text-align: center;
}





@media screen and (max-width: 999px) {
    #container {
        flex-direction: column;
    }
}


@media screen and (max-width: 767px) {
    .header-container {
        flex-direction: column;
    }

    figure {
        flex-direction: column;
    }
    figure img {
        max-width: 100%;
        height: auto;
    }
}
